body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  min-width: 900px;
  background-color: rgb(132, 157, 143);
}
.element-hidden{
  display: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.top-menu-navigation {
  display: flex;
}
.top-menu-navigation ul {
  list-style: none;
}
.user-navigation {
  margin-left: auto;
}
.site-navigation > li,
.user-navigation > li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.site-navigation__item {
  display: block;
  margin: 0;
  padding: 7px 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  border-radius: 16px;
}
.user-navigation__item {
  display: block;
  margin: 0;
  padding: 2px 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 16px;
}
.no-text {
  font-size: 0;
}
.site-navigation__item:hover,
.site-navigation__item:focus,
.user-navigation__item:hover,
.user-navigation__item:focus {
  background-color: #fff;
  color: #000;
}
svg {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.user-navigation__item:hover svg #search,
.user-navigation__item:hover svg #enter,
.user-navigation__item:hover svg #cart {
  fill: #111;
}
.site-navigation__submenu_catalog {
  position: absolute;
  top: 32px;
  left: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.catalog-opener:hover .site-navigation__submenu_catalog,
.catalog-opener:focus .site-navigation__submenu_catalog {
  display: block;
}
