body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: rgb(132, 157, 143);
}
.container {
  margin: 0 auto;

  padding: 0;
  width: 1146px;
}
.element-hidden{
  display: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.no-text {
  font-size: 0;
}

.top-menu-navigation ul {
  list-style: none;
}

.site-navigation li,
.user-navigation li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.site-navigation__item {
  margin: 0;
  padding: 0;
  position: relative;
  color: #fff;
  border-radius: 16px;
}
.site-navigation__item > a {
  display: block;
  margin: 0;
  padding: 7px 16px;
  font-size: 16px;
  font-weight: bold;
  color: inherit;
  border-radius: 16px;
}

.site-navigation__item:hover,
.site-navigation__item > a:focus,
.user-navigation__item:hover,
.user-navigation__item > a:focus {
  background-color: #f8f7f4;
  color: #323232;
}
.site-navigation__item > a:active,
.user-navigation__item > a:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #eeeeee;
}
.catalog-opener:hover .site-navigation__submenu-catalog,
.catalog-opener_link:focus ~ .site-navigation__submenu-catalog {
  display: block;
}
.site-navigation__submenu-catalog {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 37px;
  min-width: 143px;
  min-height: 171px;
  background-color: #f9f8f5;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.site-navigation__submenu-catalog::before {
  content: "";
  width: 143px;
  height: 5px;
  position: absolute;
  top: -5px;
  }
.submenu-catalog_item {
  margin: 0;
  padding: 0;
}
.submenu-catalog_item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.submenu-catalog_item a {
  display: block;
  margin-left: 6px;
  margin-right: 8px;
  padding-left: 15px;
  color: #323232;
  font-size: 14px;
  font-weight: normal;
  line-height: 32px;
  min-width: 114px;
}
.submenu-catalog_item:first-child a {
  font-weight: bold;
  line-height: 38px;
  border-bottom: 1px solid #d2d1cf;
}
.submenu-catalog_item:hover,
.submenu-catalog_item:focus {
  background-color: #fbded8;
}
.submenu-catalog_item:active {
  background-color: #f6b5a5;
}
.user-navigation__item {
  margin: 0;
  padding: 0;
  position: relative;
  color: #fff;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}
.user-navigation__item a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  color: inherit;
  padding: 0 16px 0 16px;
  border-radius: 16px;
}
.user-navigation svg {
  vertical-align: middle;
}
.user-navigation__item:first-child {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}
.user-navigation__item:first-child > a {
  padding: 0;
  text-align: center;
}

.user-navigation__item:hover #search,
.user-navigation__item:hover #enter,
.user-navigation__item:hover #cart,
.user-navigation__item > a:active #search,
.user-navigation__item > a:active #enter,
.user-navigation__item > a:active #cart {
  fill: #000;
}
.user-navigation__search-form {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  min-width: 342px;
  min-height: 85px;
  background-color: rgb(248, 247, 244);
  border-radius: 5px;
}
.user-navigation__search-form input[type=search] {
  display: block;
  margin: 21px auto;
  height: 42px;
  width: 310px;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: none;
  font-size: 14px;
  border: 1px solid rgb(211, 211, 210);
}
.search-opener:hover .user-navigation__search-form,
.search-opener_link:focus ~ .user-navigation__search-form {
  display: block;
}
.contact-us {
  margin-left: auto;
  padding: 0;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: right;
}
.contact-us a {
  display: block;
  padding: 0;
  font-size: 22px;
}

.slider {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slider li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.slider-first {
  background-image: url("../img/header_icecream1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}
.slider-block__special-offer_text {

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  width: 700px;
  display: none;
}
.slider__button_first:checked ~ .slider-first {
  display: block;
}



.element-berry {
  background-image: url("../img/background_berry.jpg");
}
.element-chocolate {
  background-image: url("../img/background_choco.jpg");
}
.promo-element_title {
  margin: 18px auto 0 20px;
  padding: 0;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}
.promo-element_text {
  display: block;
  margin: 15px 25px 0 20px;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}
.promo-element {
  padding: 0;
  flex-basis: 560px;
  border-radius: 15px;
  min-height: 230px;
}

.item-list {
  list-style: none;
  display: block;
}
.about-us {
  background-image: url("../img/pattern.jpg");
  border-radius: 15px;
}
.about-us__title {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}
.about-us__description {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}
.blog-spotlight {
  background-image: url("../img/strawberry_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.blog-spotlight__title {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}
.blog-spotlight__text {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;
  text-decoration: underline;
}
.subscribe-block {
  padding: 0;
  background-image: url("../img/background_post.png");
  background-repeat: no-repeat;
min-height: 220px;
  border-radius: 15px;
}
.subscribe-block__form {
  border: 1px solid transparent;
  background-color: #f9f8f5;
  border-radius: 15px;
  margin: 5px auto;
  width: 550px;
  height: 210px;
}
.subscribe-block__text {

  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}
.address-block {
  width: 302px;
  height: 305px;
  background-color: #fff;
  border-radius: 15px;
}
.address-block__about {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
.address-block__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
}

/************************************ СЕТКА  *********************************/


.top-menu-navigation {
  min-height: 64px;
  display: flex;
  align-items: center;
}
.user-navigation {
  margin-left: auto;
  min-width: 267px;
}
.sub-navigation {
  display: flex;
}
.slider-block {
  position: relative;
  min-height: 573px;
}
.slider {

}
.promo-block {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-list__item {
  flex-basis: 267px;
  min-height: 330px;
}
.about-us {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  min-height: 306px;
  justify-content: space-between;
}
.about-us__title {
  flex-basis: 100%;
}
.about-us__description{
  flex-basis: 482px;
}
.info-block {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.blog-spotlight {
  flex-basis: 560px;
  min-height: 220px;
}
.subscribe-block {
  flex-basis: 560px;
}
.map-block {
  margin-top: 40px;
  position: relative;
}
.address-block {
  position: absolute;
  right: 27px;
  top: 62px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
